@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Sedgwick Ave Display', cursive;
  background-color: #ff0000;
}

#output {
  padding: 10px;
  
}
.number {
  position: relative;
  width: 10%;
  border-radius: 10px;
  margin: 10px;
  color: white;
  background-color: #000;
  box-shadow: 1px 1px 1px 1px;

  padding: 2px;
}
#numbers {
  margin-top: 10px;
  width: 40%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
 box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.9);
}
#brand_name {
  width: 100%;
  background-color: #000;
  margin-bottom: 10px;
  padding: 2px;
  font-size: 28px;
  color: #fff;
  position: flex;
  justify-content: flex-start;
  border-radius: 5px;
}
#gameline{
  width: 50%;
  margin: 0 auto;
}
#showNumbers {
  width: 40%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow:  1px 1px 1px 1px;
  border-radius: 10px;
}
#submit {
  width: 50%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
  box-shadow:  2px 2px 4px 3px rgba(0, 0, 0, 0.9);
}
#counterDate {
  position: flex;
  justify-content: flex-end;
  color: #000;
  width: 25%;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow:  1px 1px 1px 1px;
}
#subcontainer {
  text-align: center;
}
#days {
  font-size: 30px;
}
#hours {
  font-size: 30px;
}
#minutes {
  font-size: 30px;
}
#seconds {
  font-size: 30px;
}
